name: .NET Core

on:
  push:
    branches: [ master ]
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ master ]

defaults:
  run:
    shell: pwsh

env:
  configuration: Release
  baseVersion: 0.0.2
  preRelease: true

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Set Version
      run: |
        if ("${{ github.ref }}".startsWith("refs/tags/v")) {
          $tagVersion = "${{ github.ref }}".subsctring(11)
          Write-Host "::set-env name=buildVersion::$tagVersion.${{ github.run_number }}"
          Write-Host "::set-env name=nugetVersion::$tagVersion"
          Write-Host "::set-env name=preRelease::false"
        } else {
          Write-Host "::set-env name=buildVersion::${{ env.baseVersion }}.${{ github.run_number }}"
          Write-Host "::set-env name=nugetVersion::${{ env.baseVersion }}-ci${{ github.run_number }}"
        }
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
        source-url: https://nuget.pkg.github.com/keboo/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}  
    
    - name: Install dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build -p:Version=${{ env.buildVersion }} --configuration ${{ env.configuration }} --no-restore
    
    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Upload Artifacts
      if: ${{ github.event_name != 'pull_request' }}
      uses: actions/upload-artifact@v2
      with:
        name: NuGet
        path: ${{ github.workspace }}\XAMLTest\bin\${{ env.configuration }}\XAMLTest.${{ env.nugetVersion }}*nupkg

    - name: Pack
      if: ${{ github.event_name != 'pull_request' }}
      run: dotnet pack -p:PackageVersion=${{ env.nugetVersion }} --configuration ${{ env.configuration }} --no-build
    
    - name: Upload Screenshots
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: Test Images
        path: ${{ github.workspace }}\XAMLTest.Tests\bin\${{ env.configuration }}\netcoreapp3.1\Screenshots
    
    - name: Create Release
      if: ${{ github.event_name != 'pull_request' }} && ${{ env.preRelease == 'false' }}
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ env.baseVersion }}
        release_name: Release ${{ env.baseVersion }}
        draft: true
        prerelease: false

    - name: Push NuGet
      if: ${{ github.event_name != 'pull_request' }}
      run: dotnet nuget push ${{ github.workspace }}\XAMLTest\bin\${{ env.configuration }}\XAMLTest.${{ env.nugetVersion }}.nupkg --source https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate